<configuration>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <staticContent>
      <remove fileExtension=".json"/>
      <remove fileExtension=".svc"/>
      <remove fileExtension=".svg"/>
      <remove fileExtension=".woff"/>
      <remove fileExtension=".map"/>   
      <mimeMap fileExtension=".tsx" mimeType="application/json"/>
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <mimeMap fileExtension=".svc" mimeType="text/directory"/>
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive"/>
      <mimeMap fileExtension=".ipa" mimeType="application/octet-stream"/>
      <mimeMap fileExtension=".plist" mimeType="text/xml"/>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:00"/>
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept, Redirect, Authorization, X-Requested-With, UserName, User"/>
      </customHeaders>
    </httpProtocol>
    <defaultDocument enabled="true">
      <!-- this line enables default documents for a directory -->
      <files>
        <clear/>
        <!-- removes the existing default document list -->
        <add value="index.html"/>
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
